<!doctype html>
<title>code-cite-app</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
    {% for category, message in messages %}
      {% if message is iterable and message is not string %}
        {% for line in message %}
          <li class="{{ category }}">{{ line }}</li>
	{% endfor %}
      {% else %}
        <li class="{{ category }}">{{ message }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div>
  {% block body %}{% endblock %}
</div>
